#landing{
  background-image: url('./assets/images/networks.jpg');
  width: 100vw;
  padding-top: 30vh;
}

#jumbo{
  /* background-color: rgba(214, 214, 214, 0.555); */
  color: white;
  height: 66vh;
}